.widget {
  width: 300px;

  &__price {
    font-size: 22px;
  }

  &__total {
    font-size: 22px;
    margin-top: 8px;
    padding: 8px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__cell {
    width: 100%;
    height: 140px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}